<html>
<head>
  <title>
    {{store_name}}
    {{#list_page}}
      {{#navigation}}
        {{#is_current}}
          - {{label}}
        {{/is_current}}
      {{/navigation}}
    {{/list_page}}

    {{#product_page}}
      {{#product}}
        - {{title}}
      {{/product}}
    {{/product_page}}

    {{#about_page}}
      - About
    {{/about_page}}
  </title>
  <link href="{{assets_url}}/shared/css/base.css" rel="stylesheet">
</head>
<body>

  <header>
    <a href="{{store_url}}">
      {{#logotype}}
        <img alt= "{{store_name}}" src="{{url-300}}">
      {{/logotype}}

      {{#no_logotype}}
        {{store_name}}
      {{/no_logotype}}
    </a>

    {{search}}
    <ul>
      <li><a href="/">All products</a></li>
      <li class="{{#about_page}}selected{{/about_page}}"><a href="/page/about">About</a></li>

      {{#store_blog_url}}
        <li><a href="{{store_blog_url}}">Blog</a></li>
      {{/store_blog_url}}

      {{#navigation}}
        <li>
          <a href="{{url}}">{{label}}</a>
          {{#children?}}
            <ul>
              {{#children}}
                <li><a href="{{url}}">{{label}}</a></li>
              {{/children}}
            </ul>
          {{/children?}}
        </li>
      {{/navigation}}
    </ul>
  </header>


  {{#list_page}}

    {{#products}}

      <article>
        <h2>{{title}}</h2>
        <span>{{price}}</span>
        <span>{{price_with_currency}}</span>
        <span>{{url}}</span>
        <span>{{id}}</span>

        {{#primary_image}}
          <img alt="{{title}}" src="{{url-300}}">
        {{/primary_image}}

        {{#out_of_stock}}
          Out of stock
        {{/out_of_stock}}
      </article>

    {{/products}}

  {{/list_page}}


  {{#product_page}}

    {{#product}}
      <article>
        {{#all_images}}
          <figure class="product_slide_figure">
            <img alt="{{title}} - {{position}}" src="{{url-500}}">
          </figure>
        {{/all_images}}

        <h2>{{title}}</h2>

        <span>{{price_with_currency}}</span>

        <p>{description}</p>

        {{#out_of_stock}}
          <span>Out of stock</span>
        {{/out_of_stock}}

        {{#add_to_cart}}

          {{#variations_select}} {{/variations_select}}

          {{#add_to_cart_button}}
            Add to cart
          {{/add_to_cart_button}}

        {{/add_to_cart}}

        {{social_buttons}}

      </article>
    {{/product}}

  {{/product_page}}


  {{#about_page}}
    <article>
      <h2>About</h2>

      {{store_description}}

      {{#store_email}}
        <a href="mailto:{{store_email}}">{{store_email}}</a>
      {{/store_email}}
    </article>
  {{/about_page}}

</body>
</html>